/* styles/style.css */

main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

.page-header {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 51px 89px;
}

.page-header__navigation-list {
  display: flex;
  gap: 32px;
}

.page-header__navigation-item {
  list-style: circle;
}

.page-header__navigation-item_no-bullet {
  list-style: none;
}

.page-header__navigation-link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
}

.page-header__navigation-link_active {
  text-decoration: none;
}

.page-header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.page-header__logo-img {
  width: 100%;
}

.page-header__contacts {
  justify-self: end;
  font-style: inherit;
}

.contacts__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.contacts__address {
  font-size: 18px;
  line-height: 1.35;
}

.hero-section {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.hero-section__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.hero-section__title-line {
  display: block;
}

.hero-section__title-line_left {
  text-align: left;
  padding-left: 0;
}

.hero-section__title-line_center {
  text-align: center;
  padding-left: 60px;
}

.hero-section__title-line_right {
  text-align: right;
  padding-right: 30px;
}

.hero-section__title-spacing {
  letter-spacing: 60px;
}

.hero-section__title-no-spacing {
  letter-spacing: normal;
}

.hero-section__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 100px 0 0;
}

.hero-section__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.hero-section__bid-button {
  border: 1px #FFF solid;
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.hero-section__bid-button:hover {
  color: #000000;
  background-color: #FFF;
}

.lots-section {
  padding: 0 50px;
}

.lots-section__heading {
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots-section__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
}

.lots-section__item {
  height: 100%;
}

.lots-section__link {
  display: block;
  height: 100%;
}

.lot-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: auto;
  height: 100%;
  padding: 50px 40px;
}

.lot-card_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lot-card_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lot-card_painting {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lot-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.lot-card__title {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lot-card__description {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
}

.lots-section__more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 50px;
}

.about-section__column {
  justify-self: center;
}

.about-section__column_text {
  grid-column: 2/4;
}

.about-section__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about-section__logo-img {
  width: 148px;
}

.about-section__title {
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about-section__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-section__text p {
  font-size: 20px;
  line-height: normal;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.page-footer__contacts {
  font-style: inherit;
}

.page-footer__contacts .contacts__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.page-footer__contacts .contacts__address {
  font-size: 18px;
  line-height: 1.35;
}

.page-footer__navigation-list {
  text-align: center;
  list-style: none;
}

.page-footer__navigation-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.page-footer__navigation-link_active {
  text-decoration: none;
}

.page-footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.page-footer__social-icon {
  width: auto;
  height: 48px;
}